body {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

header {
    text-align: center;
    text-transform: uppercase;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    margin: 25px 120px 0px 120px;
}
h1 {
    background-image: url("../images/blog_header_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    letter-spacing: .5em;
    padding: 150px;
    margin-top: -10px;
    font-size: 50px;
}
a {
    text-decoration: none;
    color: #7C99AA;
    
}
h2, h3, h4 {
    color: #44545E;
    text-transform: uppercase;
}
h2 {
    font-size: 15px;
    margin-top: 40px;
}
.Blog {
    width: 100%;
    height: auto;
}
p {
    font-family: 'Lato', sans-serif !important;
    color: #44545E;
    font-size: 12px;
    font-weight: 400;
}
.article {
    margin: 0px 50px;
}
ul {
    color: #44545E;
    font-size: 14px;
}
ul li {
    font-family: 'Lato', sans-serif !important;
    margin-bottom: 15px;
    font-weight: 400;
}
h3 {
    margin-bottom: 45px;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}
.side{
    width: 30% auto;
    margin-right: 50px;
}
footer {
    display: flex;
    flex-direction: column;
    color: #44545E;
    text-align: center;
    background-color: #CDF3F6;
    padding: 60px 0px;
}
footer div {
    font-family: 'lato', sans-serif !important;
    border-top: solid 1px #44545E;
    font-weight: 400;
}